.formCard {
  background-color: #0e3c5d;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  font-weight: bold;
  color: #ffd166;
  margin-bottom: 0.5rem;
}

.input,
.select {
  margin-left: 0.25rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #14466a;
  color: white;
  font-size: 1rem;
}

.input:focus,
.select:focus {
  outline: 2px solid #ffd166;
}