.deleteButton {
  background-color: #d62828;
  color: #fff;
  padding: 0.6rem 1rem;
  font-size: 0.95rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.deleteButton:hover {
  opacity: 0.75;
}

.deleteButton:active {
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.6);
  transform: translateY(2px);
}